/* Estilo para el toolbar */
.custom-toolbar {
  --background: linear-gradient(135deg, #00BFFF, #1E90FF) !important;
}

/* Estilo para el botón */
ion-button {
  --background: #1E90FF;
  --color: #fff;
  --border-radius: 8px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 24px;
}

ion-button[disabled] {
  --background: #d3d3d3;
  --color: #fff;
}

/* Añadir separación entre los inputs y el contenedor */
.input-spacing {
  margin-top: 16px;
  margin-bottom: 16px;
}

/* Ajustar el padding del contenedor para evitar desbordamiento */
ion-content {
  --padding-start: 16px;
  /* Ajusta según sea necesario */
  --padding-end: 16px;
  /* Ajusta según sea necesario */
}