<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <!-- Campos de entrada para los datos del cliente -->
    <ion-item>
      <ion-input label="Razón Social *" labelPlacement="floating" formControlName="razonsocial" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Nombre Comercial" labelPlacement="floating" formControlName="nombrecomercial"
        type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Dirección" labelPlacement="floating" formControlName="direccion" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Identificación *" labelPlacement="floating" formControlName="identificacion"
        type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Email *" labelPlacement="floating" formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Teléfono 1" labelPlacement="floating" formControlName="telefono1" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Teléfono 2" labelPlacement="floating" formControlName="telefono2" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Teléfono 3" labelPlacement="floating" formControlName="telefono3" type="text"></ion-input>
    </ion-item>

    <!-- Campos para ubicación -->
    <ion-item>
      <ion-input label="Provincia *" labelPlacement="floating" formControlName="provinciasid" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Ciudad *" labelPlacement="floating" formControlName="ciudadesid" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Parroquia *" labelPlacement="floating" formControlName="parroquiasid" type="text"></ion-input>
    </ion-item>

    <!-- Select para tipo de identificación -->
    <ion-item>
      <ion-select label="Tipo de Identificación" labelPlacement="floating" formControlName="tipoidentificacion">
        <ion-select-option value="C">Cédula</ion-select-option>
        <ion-select-option value="R">RUC</ion-select-option>
        <ion-select-option value="P">Pasaporte</ion-select-option>
        <ion-select-option value="F">Consumidor Final</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Select para estado -->
    <ion-item>
      <ion-select label="Estado" labelPlacement="floating" formControlName="estado">
        <ion-select-option value="true">Activo</ion-select-option>
        <ion-select-option value="false">Inactivo</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para enviar el formulario -->
    <ion-button expand="block" type="submit" [disabled]="!clienteForm.valid">
      Crear Cliente
    </ion-button>
  </form>
</ion-content>